* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    background-color: rgb(61, 68, 73);
}

.center {
    width: 45%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10%;
}

input {
    width: 99%;
    height: 8vh;
    display: inline-block;
    margin: 0.6px;
    padding: 1em;
    border: 0.125em solid black;
    background-color: rgb(61, 68, 73);
    color: #d5f4e6;
    font-weight: bold;
}

.err {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    color: rgb(245, 28, 28);
    font-size: 1.5em;
}