html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    position: absolute;
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.header {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: rgb(28, 64, 182);
    border: 5px solid black;
}

.searchbar {
    position: relative;
    height: 100%;
    width: 25%;
    margin: 0;
    margin-left: 38%;
    float: left;
}

.searchbar input {
    height: 38px;
    width: 99%;
    margin-top: 10px;
}

.buttons {
    position: relative;
    height: 100%;
    width: 26%;
    float: right;
}

.buttons .center {
    position: relative;
    height: 40%;
    width: 55%;
    margin: 0 auto;
    margin-top: 20px;
}

.buttons .center input[value=Login] {
    margin: 0 auto;
    margin-left: 40px;
}

.body {
    height: 87%;
    width: 70%;
    margin: 0;
    margin-top: 1%;
    margin-left: 15%;
    border: 2px solid black;
}

.body p {
    text-align: center;
    vertical-align: middle;
}