html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    position: absolute;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.header {
    position: relative;
    width: 100%;
    height: 4.0625em;
    background-color: rgb(28, 64, 182);
    border: 0.3125em solid black;
}

.searchbar {
    position: relative;
    height: 100%;
    width: 25%;
    margin: 0 auto;
    margin-top: 0.3em;
    margin-left: 38%;
    float: left;
}

.searchbar input {
    height: 2.375em;
    width: 100%;
    margin-top: 0.625em;
}

.buttons {
    position: relative;
    height: 100%;
    width: 26%;
    float: right;
}

.buttons .center {
    position: relative;
    height: 40%;
    width: 55%;
    margin: 0 auto;
    margin-top: 1.25em;
}

.buttons .center input[value=Login] {
    margin: 0 auto;
    margin-left: 2.5em;
}

.body {
    height: 90%;
    width: 100%;
    margin: 0;
    border: 0.3125em solid black;
    border-top: 0;
}

/* .body p {
    text-align: center;
    vertical-align: middle;
} */