* {
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;  
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 97%;
    width: 98%;
}

span {
    display: block;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(111, 109, 211);
}

.choose {
    display: block;
    height: 7%;
    width: 30%;
    margin: 0 auto;
    margin-top: 18%;
}

.searchbar {
    display: block;
    margin: 0;
    padding: 1%;
    width: 50%;
    float: left;
}

.add {
    display: block;
    margin: 0;
    padding: 1%;
    width: 50%;
    float: left;
}

.add:hover {
    background-color: rgb(151, 148, 148);
}

input {
    height: 5%;
    width: 99%;
    margin: 0.5%;
    padding: 2.5%;
    border: 0.125em solid black;
    background-color: rgb(61, 68, 73);
    color: #d5f4e6;
    font-weight: bold;
}

.addform {
    height: 70%;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

.addform input {
    height: 7.5vh;
}

input[value="ABORT"] {
    display: block;
    margin: 0;
    width: 48%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

input[value="UPDATE"] {
    display: block;
    margin: 0;
    width: 48%;
    float: left;
    margin-left: 2.5%;
    
}

input[type="submit"]:hover {
    color: black;
    background-color: rgb(151, 148, 148);
}

.centro {
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 50%;
}

