* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: block;
    height: 80%;
    width: 98%;
}

.cpanel {
    display: block;
    margin: 0 auto;
    height: 70%;
    width: 49%;
    margin-top: 10%;
}

.profile {
    display: block;
    float: left;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    border: 2px solid rgb(116, 186, 204);
}

.more {
    display: block;
    float: left;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    border: 2px solid rgb(113, 127, 204);
}

.userManagement {
    display: block;
    margin: 0 auto;
    float: left;
    clear: both;
    height: 50%;
    width: 50%;
    border: 2px solid rgb(185, 157, 211);
}

.cpanel div:hover {
    color: black;
    background-color: rgb(151, 148, 148);
}

.gameManagement {
    display: block;
    margin: 0 auto;
    float: left;
    height: 50%;
    width: 50%;
    border: 2px solid rgb(128, 219, 173);
}

.gameManagement2 {
    display: block;
    margin: 0 auto;
    clear: both;
    height: 50%;
    width: 100%;
    border: 2px solid rgb(75, 187, 93);
}

span {
    display: block;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(111, 109, 211);
}

@media only screen and (min-width: 1080px) {
    span {
        margin-top: 25%;
    }
}