* {
    box-sizing: border-box;
}

.row {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
    
}
.column {
    display: inline-block;
    vertical-align: top;
    height: 20em;
    width: 20%;
    margin: 0;
    margin-left: 4%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border: 2px solid black;
}

.title {
    margin: 0;
    display: block;
    padding: 0.525em;
    padding-top: 10%;
    height: 25%;
    width: 100%;
    background-color: rgb(30, 72, 163);
    color: #d5f4e6;
    font-weight: bold;    
}

.title span {
    display: block;
    text-align: center;
}

.cover {
    width: 100%;
    height: 75%;
}

.cover img {
    width: 100%;
    height: 100%;
}